<h1> Frequently Asked Questions </h1>
<h4> What is the child care subsidy calculator? </h4>
<p>
  This tool is aimed at Centre operational staff to help parents understand their out of pocket child care fees. This tool is more precise than other tools
  available because it calculates the actual out of pocket for each week of the CCS fortnight. This might be needed because:
</p>
  <ul>
    <li> Parents want to know what their direct debit will be </li>
    <li> Centres need to setup a direct debit limit for a family and need to know the maximum amount that may be charged</li>
    <li> Parents will exhaust their hours during the CCS fortnight and an exact break down is required </li>
  </ul>

<h4> How does this tool calculate Child Care Subsidy? </h4>
<p>
  This tool uses the child care subsidy rates Child Care Subsidy Guide by the Department of Education and Training, Australian Government.
  The Child Care Subsidy rates that take effect on 12 July 2021 for Financial Year 2022 (FY21) are being used.
  
</p> 
<h4> How accurate is this child care subsidy tool? </h4>
  <p>

  The estimation of your childcare subsidy will be based on the information you provide.
There are other factors that impact child care subsidy including existing government debt and annual child care subsidy caps.
      For more information <a target="_blank" href="https://www.servicesaustralia.gov.au/individuals/services/centrelink/child-care-subsidy"> please visit the department website. </a>

</p>
<h4> Which child care types do you currently support?</h4>
<p>Currently the tool supports centre based day care and outside of school hours care only. </p>
<h4> I don't meet the activity test, can I still use this calculator? </h4>
<p> Unfortunately if you do not meet the activity test, you are not eligible for child care subsidy unless you meet one of the following criteria:</p>
<ul>
  <li> Low income families on $70,015 or less a year will be able to access 24 hours of subsidised care per fortnight without having to meet the activity test </li>
  <li> you have a preschool aged child attending an early educational program (such as a preschool or kindergarten program) at a Centre Based Day Care service, you can access 36 hours of subsidised care per fortnight.</li>

</ul>
<p> This tool currently doesn't calculate CCS entitlements in this scenario, however, the CCS eligible hours can be adjusted to reflect the 24 hour or 36 hour rules above.</p>
<h4> Are you affiliated with the Department of Human Services? </h4>
<p> We are not affiliated with any Government department. </p>
<h4>I am confused on how to use the tool - can you help me?</h4>
<p>You can check out the tool 
  <a href="https://www.loom.com/share/296b0d9e2c174969a7321946bbb27d1f" target="_blank"> training video here. </a></p>