
<div class="row center">

    <div class="col centered">
        <div class="card card-signup text-center">
            <div class="card-header ">
                <h4 class="card-title">Reset password</h4>
             
            </div>
            <div class="card-body ">
                <form [formGroup]="resetForm" action="" class="form ng-untouched ng-pristine ng-valid" method="" novalidate="">
             
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i
                                    class="fa fa-envelope"></i>&nbsp;</span></div><input formControlName="email" class="form-control"
                            placeholder="Email..." type="email">
                    </div>

                   
                </form>
            </div>
            <div class="card-footer "><a (click)="reset()" class="btn btn-info btn-round" 
                href="javascript:void(0)">Reset password</a>
                <div> &nbsp; </div>
                <div> OR </div>
                
                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-secondary btn-round" 
                href="javascript:void(0)">Return to login</a>
                
        </div>
    </div>
</div>